<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mongleandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".activity.NoThemeActivity"></activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SentenceDetailViewInThemeActivity" />
        <activity
            android:name=".activity.JoinActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activity.JoinFinishActivity" />
        <activity android:name=".activity.EditSentenceActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".activity.WritingThemeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.MainThemeActivity" />
        <activity android:name=".activity.PostThemeActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SubscriptionsActivity" />
        <activity android:name=".activity.SentenceDetailViewActivity" />
        <activity
            android:name=".activity.ThemeWritingSentenceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.ThemeWritingSentenceBookActivity" />
        <activity
            android:name=".activity.WritingSentenceThemeSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.WritingSentenceBookSearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.WritingSentenceActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MainActivity"></activity>
    </application>

</manifest>